---
import Layout from "../layouts/Layout.astro";

const customClass =
    "rounded-lg transition duration-300 flex flex-col items-center justify-center md:text-xl text-base hover:-translate-y-2 relative";
---

<Layout title="404 - Not found">
    <section
        class="md:p-24 p-5 pt-10 w-screen h-screen flex flex-col gap-8"
        id="como-funciona"
    >
        <h1 class="text-center md:text-6xl text-3xl font-bold">
            404 - Not found
        </h1>
        <div class="grid md:grid-cols-3 gap-4 grid-cols-2 w-full h-full">
            <a
                class={`${customClass} bg-[#ffb2e2] row-span-3 `}
                href="/#como-funciona"
            >
                <h5 class="text-[#1E1E1E]">Como funciona</h5>
            </a>
            <a href="/" class={`${customClass} bg-[#d7ff3c] row-span-4 `}>
                <h5 class="text-[#004932] text-center">Volver</h5>
            </a>
            <a
                class={`${customClass} bg-[#ffb2e2] row-span-3 `}
                href="/#descarga-app"
            >
                <h5 class="text-[#1E1E1E]">Download App</h5>
            </a>
            <a
                class={`${customClass} bg-[#004932] row-span-4 `}
                href="/#quien-somos"
            >
                <h5 class="text-white">Quienes somos</h5>
            </a>
            <a class={`${customClass} bg-[#004932] row-span-4 `}>
                <h5 class="text-white">Nuestra misión</h5>
            </a>
            <a
                class={`${customClass} bg-[#ffb2e2] row-span-3  `}
                href="/#conocenos"
            >
                <h5 class="text-[#1E1E1E]">Conócenos</h5>
            </a>
        </div>
    </section>
</Layout>; ---
