---
import { Image } from "astro:assets";
import pinkSlash from "../images/pinkSlash.png";
import sheilaDog from "../images/persons/sheilaDog.jpg";
import andrea from "../images/persons/andrea.jpg";
import marc from "../images/persons/meJeje.jpg";
import sheila from "../images/persons/sheilaProfile.jpg";
import arianna from "../images/persons/arianna.jpg";
import anacla from "../images/persons/Ana Clara Almeida da Fonseca.jpg";
import lorena from "../images/persons/lorena.jpg";
import helena from "../images/persons/helena.jpg";
import marcos from "../images/persons/marcos.jpg";
import nosotrosSlashOrange1 from "../images/nosotros/nosotrosSlashOrange1.png";
import nosotrosSlashOrange2 from "../images/nosotros/nosotrosSlashOrange2.png";
import nosotrosSlashOrange3 from "../images/nosotros/nosotrosSlashOrange3.png";
---

<section
    id="quien-somos"
    class="w-screen min-h-screen flex flex-col relative overflow-y-hidden md:overflow-x-auto overflow-x-hidden gap-2 pb-16"
>
    <div class="flex items-center justify-center">
        <Image
            src={pinkSlash}
            alt="Pink Slash"
            class="md:w-screen w-[200vw] max-w-none h-fit top-0 z-10 md:translate-x-0 absolute"
        />
    </div>

    <div
        class="flex justify-center flex-col text-center gap-4 z-20 px-5 mt-[30vh]"
    >
        <h4
            class="text-center md:text-6xl text-2xl text-[#004932] font-semibold"
        >
            Quiénes Somos
        </h4>
        <p class="md:text-2xl text-base text-center">
            Somos un equipo multidisciplinar formado por tres departamentos.
        </p>
    </div>
    <div class="w-screen">
        <div class="w-screen justify-end flex relative z-0">
            <Image
                src={nosotrosSlashOrange1}
                alt="Orange Slash 1"
                class="w-2/3"
            />
            <h3
                class="absolute top-[55%] md:left-[43%] left-[40%] lg:text-3xl text-center md:text-2xl text-[#004932] font-semibold z-20 text-sm"
            >
                Marketing
            </h3>
        </div>
        <div
            class="grid grid-cols-4 gap-4 w-screen md:-mt-14 -mt-3 z-30 justify-items-center"
        >
            <Image
                src={sheila}
                alt="Sheila"
                class="z-20 lg:h-[600px] md:h-[400px] h-[150px] object-cover rounded-lg"
            />
            <Image
                src={marcos}
                alt="Marcos"
                class="z-20 lg:h-[600px] md:h-[400px] h-[150px] object-cover rounded-lg"
            />
            <Image
                src={lorena}
                alt="Lorena"
                class="z-20 lg:h-[600px] md:h-[400px] h-[150px] object-cover rounded-lg"
            />
            <Image
                src={arianna}
                alt="Arianna"
                class="z-20 lg:h-[600px] md:h-[400px] h-[150px] object-cover rounded-lg"
            />
        </div>

        <div class="w-screen justify-center flex relative z-0 -mt-[1%]">
            <Image
                src={nosotrosSlashOrange2}
                alt="Orange Slash 1"
                class="w-2/3"
            />
            <h3
                class="absolute top-[35%] md:left-[53%] left-[54%] text-center lg:text-3xl md:text-2xl text-[#004932] font-semibold z-20 text-sm"
            >
                Diseño
            </h3>
        </div>
        <div
            class="grid grid-cols-3 gap-4 w-screen md:-mt-14 -mt-3 z-30 justify-items-center"
        >
            <Image
                src={helena}
                alt="Helena"
                class="z-20 lg:h-[600px] md:h-[400px] h-[150px] object-cover object-top rounded-lg"
            />
            <Image
                src={anacla}
                alt="Ana Clara"
                class="z-20 lg:h-[600px] md:h-[400px] h-[150px] object-cover object-top rounded-lg"
            />
            <Image
                src={andrea}
                alt="Andrea"
                class="z-20 lg:h-[600px] md:h-[400px] h-[150px] object-cover object-top rounded-lg"
            />
        </div>

        <div
            class="w-screen justify-end flex relative z-0 -mt-[3%] overflow-x-hidden"
        >
            <Image
                src={nosotrosSlashOrange3}
                alt="Orange Slash 1"
                class="w-4/5 -mr-[1%]"
            />
            <h3
                class="absolute md:top-[35%] top-[25%] md:left-[45%] left-[38%] text-center lg:text-3xl md:text-2xl text-[#004932] font-semibold z-20 text-sm"
            >
                Programación
            </h3>
        </div>

        <div
            class="grid grid-cols-1 gap-4 w-screen md:-mt-14 -mt-3 z-30 justify-center justify-items-center"
        >
            <Image
                src={marc}
                alt="Marc Gonzalez Tarrio"
                class="z-20 lg:h-[600px] lg:max-w-[500px] md:h-[400px] h-[150px] object-cover object-top rounded-lg"
            />
        </div>
    </div>
</section>
